/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');

/*Styles for image cards*/

.image-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 300px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.image-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.info {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}

.info p {
  margin: 5px 0;
}

.loader {
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
}

@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff,
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0ем 0ем rgba(255, 255, 255, 0.7),
      1.8em -1.8em 0 0ем #ffffff, 2.5em 0ем 0 0ем rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0ем rgba(255, 255, 255, 0.2),
      0ем 2.5ем 0 0ем rgba(255, 255, 255, 0.2),
      -1.8ем 1.8ем 0 0ем rgba(255, 255, 255, 0.2),
      -2.6ем 0ем 0 0ем rgba(255, 255, 255, 0.2),
      -1.8ем -1.8ем 0 0ем rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0ем -2.6ем 0ем 0ем rgba(255, 255, 255, 0.5),
      1.8ем -1.8ем 0 0ем rgba(255, 255, 255, 0.7), 2.5ем 0ем 0 0ем #ffffff,
      1.75ем 1.75ем 0 0ем rgba(255, 255, 255, 0.2),
      0ем 2.5ем 0 0ем rgba(255, 255, 255, 0.2),
      -1.8ем 1.8ем 0 0ем rgba(255, 255, 255, 0.2),
      -2.6ем 0ем 0 0ем rgba(255, 255, 255, 0.2),
      -1.8ем -1.8ем 0 0ем rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0ем -2.6ем 0ем 0ем rgba(255, 255, 255, 0.2),
      1.8ем -1.8ем 0 0ем rgba(255, 255, 255, 0.5),
      2.5ем 0ем 0 0ем rgba(255, 255, 255, 0.7), 1.75ем 1.75ем 0 0ем #ffffff,
      0ем 2.5ем 0 0ем rgba(255, 255, 255, 0.2),
      -1.8ем 1.8ем 0 0ем rgba(255, 255, 255, 0.2),
      -2.6ем 0ем 0 0ем rgba(255, 255, 255, 0.2),
      -1.8ем -1.8ем 0 0ем rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0ем -2.6ем 0ем 0ем rgba(255, 255, 255, 0.2),
      1.8ем -1.8ем 0 0ем rgba(255, 255, 255, 0.2),
      2.5ем 0ем 0 0ем rgba(255, 255, 255, 0.5),
      1.75ем 1.75ем 0 0ем rgba(255, 255, 255, 0.7), 0ем 2.5ем 0 0ем #ffffff,
      -1.8ем 1.8ем 0 0ем rgba(255, 255, 255, 0.2),
      -2.6ем 0ем 0 0ем rgba(255, 255, 255, 0.2),
      -1.8ем -1.8ем 0 0ем rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0ем -2.6ем 0ем 0ем rgba(255, 255, 255, 0.2),
      1.8ем -1.8ем 0 0ем rgba(255, 255, 255, 0.2),
      2.5ем 0ем 0 0ем rgba(255, 255, 255, 0.2),
      1.75ем 1.75ем 0 0ем rgba(255, 255, 255, 0.5),
      0ем 2.5ем 0 0ем rgba(255, 255, 255, 0.7), -1.8ем 1.8ем 0 0ем #ffffff,
      -2.6ем 0ем 0 0ем rgba(255, 255, 255, 0.2),
      -1.8ем -1.8ем 0 0ем rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0ем -2.6ем 0ем 0ем rgba(255, 255, 255, 0.2),
      1.8ем -1.8ем 0 0ем rgba(255, 255, 255, 0.2),
      2.5ем 0ем 0 0ем rgba(255, 255, 255, 0.2),
      1.75ем 1.75ем 0 0ем rgba(255, 255, 255, 0.2),
      0ем 2.5ем 0 0ем rgba(255, 255, 255, 0.5),
      -1.8ем 1.8ем 0 0ем rgba(255, 255, 255, 0.7), -2.6ем 0ем 0 0ем #ffffff,
      -1.8ем -1.8ем 0 0ем rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0ем -2.6ем 0ем 0ем rgba(255, 255, 255, 0.2),
      1.8ем -1.8ем 0 0ем rgba(255, 255, 255, 0.2),
      2.5ем 0ем 0 0ем rgba(255, 255, 255, 0.2),
      1.75ем 1.75ем 0 0ем rgba(255, 255, 255, 0.2),
      0ем 2.5ем 0 0ем rgba(255, 255, 255, 0.2),
      -1.8ем 1.8ем 0 0ем rgba(255, 255, 255, 0.5),
      -2.6ем 0ем 0 0ем rgba(255, 255, 255, 0.7), -1.8ем -1.8ем 0 0ем #ffffff;
  }
}

/* Стилі для галереї */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 24px;
  padding: 24px;
  justify-items: center;
}

.gallery-item {
  overflow: hidden;
  transition: transform 0.3s ease;
}

.gallery-item:hover {
  transform: scale(1.05);
}

.gallery-link {
  display: block;
}

.gallery-image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

#loadMoreBtn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  transition: background-color 0.3s ease;
  margin: 20px auto;
  display: block;
}

#loadMoreBtn:hover {
  background-color: #2980b9;
}

#loadMoreBtn:active {
  background-color: #1e6f9f;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
