/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');

/*Styles for image cards*/

.image-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 300px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.image-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.info {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}

.info p {
  margin: 5px 0;
}
